body {
    background-color:cornflowerblue;
}

#acces_voc {
    float:right;
    font-size:200%;
    margin-top:2%;
    margin-right:2%
}

#taille_opt {
    font-size: 200%;
}

h1 {
    text-align:center;
    padding-bottom:2%;
    margin-top:5%;
    padding-top:1%;
}
h3{
    text-align:center;
    cursor:pointer;
    color:blue;
    padding-bottom:1%;
}
#t1{
    color:yellow;
    padding-right:1%;
}
#btngene {
    margin-left: 4%;
    
}
.btnfin {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
th, td {
    padding: 10px;
    text-align: center;
    font-size: 22px;
    border: 1px solid black;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#titretab {
    background-color: yellow;
}

.dropdown-submenu {
    position: relative;
    
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;       
}

#titre_p {
    border-bottom: 2px solid black;
}

.cent_para {
    text-align: center;
    padding-bottom: 2%;
    padding-top:1%;
}

input[type="radio"] {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
}

#correct {
    margin-right: 10%;
    font-size: 200%;
}
#geneaum {
    margin-left: 10% ;
    font-size:200%;
}
.dropdown {
    float: left;
    margin-top: 2%;
    margin-left: 2%
}

#nom_opt{
    color:darkslateblue;
    padding-left:0.75%;
    padding-right:2%;
}

.cent_lien {
    margin-left: 40%;
    margin-top: 20px;
    padding-bottom:2%;
}

#lien_voc {
    font-size: 150%;
}